<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>계정 없냐? <a href="{% url 'login:signup' %}">여기서 회원가입 해라</a>.</p>
    {% if alert_message %}
        <script type="text/javascript">
            console.log("{{ alert_message }}");
            alert("{{ alert_message }}");
            window.location.href = "/post/"
        </script>
    {% endif %}
</body>
</html>
